.menu-link {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  font-size: 15px;
  padding: 16px 36px 16px 20px;
  text-decoration: none;
  width: 100%;

  &:global {
    &.depth-0 {
      font-size: 18px;
    }

    &.active {
      background: #fff;
      color: #f47e42;
    }
  }

  svg {
    path,
    rect {
      fill: #fff;
    }
  }
}
