.menu-link {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  padding: 6px 36px 6px 20px;
  text-decoration: none;
  width: 100%;

  &:global {
    &.depth-0 {
      font-size: 18px;
    }

    &.active:not(.depth-0) {
      color: #fff;
      background: #9a4eb4;
    }
  }

  svg {
    path,
    rect {
      fill: #fff;
    }
  }
}
