@import url(https://fonts.googleapis.com/css?family=Roboto);

@import './styles/normalize.scss';
@import './styles/markdown.scss';
@import './styles/highlight.scss';

:global {
  html,
  body {
    color: #4d4d4d;
    font-family: Roboto;
    min-height: 100%;
    overflow-x: hidden;
  }

  #app {
    min-height: 100%;
  }

  .react-live-error {
    background-color: #d33d3d;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
