.logo {
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: block;
  height: 120px;
  padding: 15px 20px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  width: 100%;
}
