.live-markdown {
  margin-bottom: 46px;
  position: relative;
}

.live-markdown-preview {
  border: 1px solid #d9d9d9;
  padding: 15px;
}

.live-markdown-editor {
  position: relative;

  :global {
    .prism-code {
      padding: 15px;
    }
  }
}

.live-markdown-editor-toggle {
  align-items: center;
  border-width: 0 1px 1px 1px;
  border-color: #d9d9d9;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 0 10px;
  position: absolute;
  top: 100%;
  transition: 0.2s;
  right: 0;

  &:hover {
    background: #efefef;
  }
}
