.code {
  margin-top: 30px;
  position: relative;
}

.code-preview {
  border: 1px solid #d9d9d9;
  padding: 15px;
}

.code-editor {
  position: relative;

  :global {
    .prism-code {
      padding: 15px;
    }
  }
}

.code-editor-toggle {
  border-width: 0 1px 1px 1px;
  border-color: #d9d9d9;
  border-style: solid;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  top: 100%;
  right: 0;
}
