$width: 250px;

.sidebar {
  background: #f9f9f9;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  width: $width;
  transition: 0.3s transform;

  &.open {
    transform: translateX(0) !important;
  }
}

@media only screen and (max-width: 720px) {
  .sidebar {
    transform: translateX(-$width);
  }
}
