.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    border-bottom: 1px solid #d9d9d9;

    > li {
      border-top: 1px solid #d9d9d9;

      ul {
        margin-top: 15px;
      }
    }
  }
}
